<!DOCTYPE html>
<html ng-app="yummly">
  <head>
    <link href='styles.css' rel='stylesheet'>
  </head>

<body>
  <div class='ingredients-recipes-box'>
  <div id='recipes' ng-controller='LinksController'>
    <form id='searchForm' ng-submit='getLinks(recipeGet)'>
      <input class='recipe-search' type='text' ng-model='recipeGet' style='font-size:14px' placeholder='Search for a recipe!'>
      <input class='recipe-submit' type='submit' id='submit' value='Submit'>
    </form>
    <div class='recipe-list' style='overflow:scroll; height:400px'>
    <div ng-repeat='data in repeatData'>
      <br><a href='http://yummly.com/recipe/{{data.links}}' target='_blank'>{{data.recipes}}</a>
      <button id='save'>Save</button>
      <button id='cook' ng-click='getIngredients(data)'>Cook!</button></br>
    </div>
  </div>
  </div>

  <div id='ingredients'>
    <div class='ingredient-list' style='overflow:scroll; height400px'>
    </div>
  </div>

  <div id='recipe-book'>
    <div class='saved-recipes'>
    </div>
  </div>
</div>

  <script src="./node_modules/underscore/underscore-min.js"></script>
  <script src="./node_modules/jquery/dist/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js">     </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
  <script src="./app.js"></script>
  <script src='./request-handler.js'></script>
  <script src='./pageController.js'></script>
</body>
</html>