body {
  background-color:#edecda;
  font-family:avenir;
}

a {
  color:#666;
  text-decoration: none;
}

.ingredients-recipes-box {
  border:none;
  border-radius:25px;
  margin-top: 10%;
  margin-bottom:20%;
  width:100%;
  height:100%;
  position:absolute;
  display:inline-block;
  z-index:-1;
}

#recipes {
  z-index:-1;
  position: relative;
  display: inline-block;
  width: 375px;
  height: 450px;
  border-radius:20px;
  border-color:#99d2c6;
  border-style: solid;
  border-width: 5px;
  margin-left:16.5%;
  margin-top:3.2%;
}

#ingredients {
  z-index:-1;
  display:inline-block;
  position:relative;
  width:375px;
  height:500px;
  float:right;
  margin-right:16.5%;
  background-image: url('clipboard.png');
  background-size: 375px 500px;
}

#recipe-book {
  border-radius:15px;
  margin-top: 5%;
  margin-left:20%;
  display:inline-block;
  width:750px;
  height:150px;
  background-color:white;
}

.saved-recipes {
  border-radius:15px;
  float:left;
  display:block;
  margin-top:25px;
  margin-left: 10px;
  margin-right:10px;
  width:750px;
  height:90px;
  overflow:auto;
}

.recipe-left {
  margin-left: 10px;
  margin-right:10px;
  float:left;
}

#cook {
  background-color:#ec957a;
  font-family:avenir;
  border:none;
  float:right;
  color:white;
}

#save {
  margin-left: 5px;
  background-color:#ec957a;
  font-family:avenir;
  border:none;
  float:right;
  color:white;
}

#searchForm {
  margin: 0 auto;
  text-align:center;
  border:none;
  position:absolute;
  z-index:1;
}

.recipe-list{
  word-wrap:break-word;
  height:350px;
  padding-left:25px;
  padding-right:25px;
  padding-top:25px;
  padding-bottom:25px;
}

.recipe-submit{
  font-size:12px;
  font-family:avenir;
  border:none;
  height:2.6em;
  background-color:#ec957a;
  color:white;
}
.recipe-search{
  margin-top:10px;
  margin-left:80px;
  font-family:avenir;
  height:2.2em;
  width:150px;
  border:none;
}

.ingredient-list {
  word-wrap:break-word;
  padding-left:25px;
  padding-right:25px;
  padding-top:70px;
  padding-bottom:25px;
  width: 325px;
  height: 375px
}



.saved-recipes img:hover {
  opacity: .80;
}

